#wrapper {
    width: 960px;
}
#logo {

}
.center {
    margin-left: auto;
    margin-right: auto;
}
.font {
    font-family: "Century Gothic", monospace;
}
.display {
    display: inline;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.rightAlignText {
    text-align: right;
}
.thinBorder {
    border: 1px black solid;
}
.marginClear {
    margin: 0;
}
.paddingTop {

}
.clearFix {

}